*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  padding: 0 2rem;
}

#poke-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
}

header {
  position: fixed;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #d3d3d3;
  background-color: white;
}

header > .container {
  display: flex;
  align-items: baseline;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1rem;
}

.nav-brand {
  margin-bottom: 0.5rem;
}

.nav-brand > div {
  display: flex;
  justify-content: space-around;
}

#root > .container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0 0;
  margin-bottom: 0;
  justify-content: center;
}

.poke-id {
  color: #757575;
  font-size: 0.75rem;
}

.dialog-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 27rem) {
  .pokemon {
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (min-width: 35rem) {
  .pokemon {
    flex-direction: row;
    min-width: 20rem;
  }
}
